{{ define "main" }}
{{ if .Content }}
<div class="index-content framed">
    {{ .Content }}
</div>
{{ end }}

<div class="index-section latest-content">
    <div class="framed">
        <h2>Latest blogs</h2>

        <ul>
            {{ range (where .Site.RegularPages "Type" "blog" | first .Site.Params.LatestContentSize) }}
            <li><a href="{{ .Permalink }}">{{ .Title }}</a></li>
            {{end}}
        </ul>
    </div>

    <div class="framed">
        <h2>Latest projects</h2>

        <ul>
            {{ range (where .Site.RegularPages "Type" "projects" | first .Site.Params.LatestContentSize) }}
            <li><a href="{{ .Permalink }}">{{ .Title }}</a></li>
            {{end}}
        </ul>
    </div>
</div>

<div class="index-section hash">
    <p>VGFsayBpcyBjaGVhcC4gU2hvdyBtZSB0aGUgY29kZS4gLSBMaW51cyBUb3J2YWxkcw==</p>
</div>
{{ end }}
