.social-links {
  p {
    margin: 5px;
  }
}

.navigation-menu__inner > li {
  margin-bottom: 0;
}

.header__logo::after {
  content: none;
  display: none;
}

.dot-prefix:before {
  width: 0.3rem;
  height: 0.3rem;
  border-radius: 50%;
  margin: 0 0.4rem 0.13rem 0;
  background: var(--accent);
  display: inline-block;
  content: "";
}
