<footer class="footer">
    <div class="footer__inner">
        <div class="copyright copyright--user">
            <span>© 2019-{{ now.Year }}, {{ $.Site.Copyright | safeHTML }}</span>
        </div>
    </div>
</footer>

{{ $js := slice }}
{{ range resources.Match "js/*.js" }}
{{ $js = $js | append (resources.Get . | js.Build) }}
{{ end }}

{{ $bundle := $js | resources.Concat "js/bundle.js" | resources.Minify | resources.Fingerprint }}

<script src="https://cdn.jsdelivr.net/npm/medium-zoom@1.1.0/dist/medium-zoom.min.js"
    integrity="sha256-ZgMyDAIYDYGxbcpJcfUnYwNevG/xi9OHKaR/8GK+jWc=" crossorigin="anonymous"></script>
<script type="text/javascript" src="{{ $bundle.RelPermalink }}"></script>
